body {
   font-family: 'Caveat Brush', cursive;
   background: url(https://images.unsplash.com/photo-1517008729672-a63ddcf53acb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80);
}

.calculator {
   left: 35%;
   padding: 50px;
   text-align: center;
}

h1 {
    font-size: 70px;
    color: red;
    font-family: 'Caveat Brush', cursive;
}
#output {
    font-size: 70px;
}

input {
  text-align: center;
  width: 20%
  ;
}

.input1 {
    width: 80px;
    height: 85px;
    text-align: center;
    margin: 35;
    font-size: 3em;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;

}

#operation {
    width: 80px;
    /*height: 60px;*/
    text-align: center;
    margin: 20 20 30 2;
    font-size: 1.9em;
    /*border: none;*/
    /*background-color: lemonchiffon;*/
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;
    color: red;

}

.input3 {
    width: 80px;
    height: 85px;
    text-align: center;
    margin: 20;
    font-size: 3em;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;

}


.equals {
    text-align: center;
    margin: 20 20 30 20;
    font-family: 'Caveat Brush', cursive;
    width: 80px;
    font-size: 1.9em;
    height: 60px;
    color: red;
}

.output {
    text-align: center;
}

.total {
    width: 100px;
    text-align: center;
    font-size: 3em;
    margin: 20;
    cursor: pointer;
}

.btn {
    width: 100px;
    text-align: center;
    font-size: 3em;
    margin: 20;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;

}

#output.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}



